@import url(http://fonts.googleapis.com/css?family=Arvo);
@import url(http://fonts.googleapis.com/css?family=Rufina);
@import url(http://fonts.googleapis.com/css?family=Vollkorn);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

/* Variable declarations */
$footerHeight: 250px;

/** Skeleton Breakpoints **/
$break1: 400px;
$break2: 550px;
$break3: 750px;
$break4: 1000px;
$break5: 1200px;

/* Skeleton overrides */
.container
{
  max-width: 1200px;
}

/* Color palette */
$orange: #c52900;
$yellow: rgba(255,184,0,1);
$sky: rgba(34,167,240,1); /* base link color */
$sky2: rgba(0,92,137,1); /* link hover */
$sky3: rgba(0,71,106,1); /* link visited */


*
{
	margin: 0;
	padding: 0;
}

html, body
{
	height: 100%;
}

/* text styling */
p 
{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin-top: 10px;
}

h1
{
	font-family: 'Vollkorn', serif;
	font-size: 60px;
	margin-top: 0px;
	text-align: center; 
}
h2
{
	font-family: 'Open Sans', sans-serif;
	text-align: center
}

h3 /*subhead style*/
{
	font-family: 'Vollkorn', serif;
	font-size: 30px;
	margin-top: 20px;
	text-align: center;
}

h5
{
	font-family: 'Open Sans', sans-serif; 
	font-weight: 600;
	text-align: center;
	margin-bottom: 0px; //skeleton override
}

address
{
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	text-align: center;
	font-size: smaller;
}

i
{
	color: $yellow;
	position: relative;
}

img
{
	max-width: 100%;
}

/* link styling */
a
{
	color: $sky;
}

a:hover
{
	color: $sky2;
	cursor:pointer;
}

a:visited
{
	color: $sky2;
}

/* use media queries to hide the sidebar on small screens */
@media (min-width: 900px) {
	div#menubar
	{
		position: fixed;
		overflow: auto;
		height: 100vh;
		width: 30%;
		padding: 10px;
		text-align: center;
		background-color: rgba(117, 121, 123, 0.5);
	}	
	div#maincontent
	{
		width: 60%;
		position: relative; 
		float: right;
		padding-right: 3%; 
	}
	div#mobilemenu
	{
		visibility: hidden;
	}
}

@media (max-width: 900px) {
	div#menubar
	{
		visibility: hidden;
		position: absolute;
	}
	div#mobilemenu
	{
		background-color:rgba(117, 121, 123, 0.7);
		position: fixed;
		margin-top: -1%;
		height: 40px;
		width: 100vw;
		text-align: center;
		z-index: 10;
	}
	#pageSlug
	{
		margin-top: 40px;
	}
}


#menubar i
{
	color: #ffffff;
}

div.category
{
	clear: both;
	padding: 10px;
	margin-top: 20px;
	text-align:center;
}

button.button-primary
{
	color: #ffffff;
	background-color: $sky;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin-top: -1.5rem; //skeleton override

}

button.button-primary:hover
{
	background-color: $sky2;
	cursor: pointer;
}

div.notes
{
	margin-top: 3rem;
}

.dialog //temporary popup for buttons
{
	position: fixed;
	width: 50%;
	margin-left: 25%;
	margin-top: 25%;
	border-color: $sky2;
	border-width: 10px;
	border-style: solid;
	background-color: #fff;
	text-align: center;
}

.dialog:hover
{
	cursor: pointer;
}

//placeholder for data viz to come
div#graphic
{
	border-color: $sky;
	padding: 10px;
	margin: 10px;
	width: 90%;
	border-style: dashed;
	border-width: 10px;
	display: inline-block;
	margin-top: 25px;
}

.node text {
  stroke-width: .5px;
  pointer-events: none;
  font: 10px sans-serif;
}

line.link {
  stroke: #999;
  stroke-opacity: .6;
  stroke-width: 1px;
}
