@import url(http://fonts.googleapis.com/css?family=Arvo);
@import url(http://fonts.googleapis.com/css?family=Rufina);
@import url(http://fonts.googleapis.com/css?family=Vollkorn);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
p 
{
	font-family: 'Open Sans', sans-serif;
}
h1
{
	font-family: 'Vollkorn', serif;
	font-size: 60px;
	margin-top: 0px;
}
h3
{
	font-family: 'Open Sans', sans-serif; 
	font-weight: 600;
	font-size: 20px;
}
img
{
	display: inline-block;
}

div#menubar
{
	bottom: 0px;
	padding: 10px;
	width: 100%;
	clear: top;
	margin-bottom: 10px;
	text-align: center;
	background-color: #5a5f61;
	overflow: auto;
}
div.category
{
	padding: 10px;
	width: 30%;
	float: left;
}
div.button
{
	position: relative; 
	padding: 10px;
	width: 50%;
	left: 25%;
	border-radius: 5px;
	border: 3px;
	border-style: solid;
	border-color: rgba(197, 41, 0, 0.5);
	clear: both; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 20px;
	text-transform: uppercase;
}
div.button:hover
{
	border-color: rgba(197, 41, 0);
	background-color: rgba(197, 41, 0, 0.5);
}

div.graphic
{
	border-color: rgba(4, 65, 98, 0.5);
	padding: 10px;
	margin: 10px;
	width: 90%;
	border-style: dashed;
	border-width: 10px;
	display: inline-block;
}
div.centeredtext
{
	padding-left: 10px;
	padding-right: 10px;
	display: inline;
}

/*div.category:hover
{
	background-color: rgba(255, 255, 255, 0.1);
}*/

i
{
	color: #c52900;
	position: relative;
	display: inline-block;
}

/*div.title
{
	position: relative;
	left: 40%;
	width: 60%;
	text-align: center;
	display: inline;
}*/
div.content
{
	text-align: center;
	padding: 15px;
}