@import url(http://fonts.googleapis.com/css?family=Arvo);
@import url(http://fonts.googleapis.com/css?family=Rufina);
@import url(http://fonts.googleapis.com/css?family=Vollkorn);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
/* Variable declarations */
/** Skeleton Breakpoints **/
/* Skeleton overrides */
.container {
  max-width: 1200px; }

/* Color palette */
/* base link color */
/* link hover */
/* link visited */
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

/* text styling */
p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-top: 10px; }

h1 {
  font-family: 'Vollkorn', serif;
  font-size: 60px;
  margin-top: 0px;
  text-align: center; }

h2 {
  font-family: 'Open Sans', sans-serif;
  text-align: center; }

h3 {
  font-family: 'Vollkorn', serif;
  font-size: 30px;
  margin-top: 20px;
  text-align: center; }

h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0px; }

address {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  text-align: center;
  font-size: smaller; }

i {
  color: #ffb800;
  position: relative; }

img {
  max-width: 100%; }

img#logo {
  max-width: 200px;
  min-width: 50%; }

svg {
  position: relative; }

/* link styling */
a {
  color: #22a7f0; }

a:hover {
  color: #005c89;
  cursor: pointer; }

a:visited {
  color: #005c89; }

/* use media queries to hide the sidebar on small screens */
@media (min-width: 900px) {
  div#menubar {
    position: fixed;
    overflow: auto;
    height: 100vh;
    width: 20%;
    padding: 10px;
    text-align: center;
    border-color: #22a7f0;
    border-style: dashed;
    border-left: 5px;
    border-top: 0px; }

  div#maincontent {
    width: 70%;
    position: relative;
    float: right;
    padding-right: 3%; }

  div#mobilemenu {
    visibility: hidden; } }
@media (max-width: 900px) {
  div#menubar {
    visibility: hidden;
    position: absolute; }

  div#mobilemenu {
    background-color: rgba(117, 121, 123, 0.7);
    position: fixed;
    margin-top: -1%;
    height: 40px;
    width: 100vw;
    text-align: center;
    z-index: 10; }

  #pageSlug {
    margin-top: 40px; } }
.button-primary i {
  color: #ffffff; }

div.category {
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  border-color: #22a7f0;
  border-style: dashed;
  border-top: 5px;
  border-left: 0px;
  border-right: 0px; }

button:hover {
  background-color: #ccc; }

button.button-primary {
  color: #ffffff;
  background-color: #22a7f0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-top: -1.5rem; }

button.button-primary:hover {
  background-color: #005c89;
  cursor: pointer; }

div.notes {
  margin-top: 3rem; }

.dialog {
  position: fixed;
  width: 50%;
  margin-left: 25%;
  margin-top: 25%;
  border-color: #005c89;
  border-width: 10px;
  border-style: solid;
  background-color: #fff;
  text-align: center; }

.dialog:hover {
  cursor: pointer; }

div#graphic {
  border-color: #22a7f0;
  padding: 10px;
  margin: 10px;
  width: 90%;
  border-style: dashed;
  border-width: 10px;
  display: inline-block;
  margin-top: 25px; }

.node text {
  float: left;
  clear: both;
  stroke-width: .7px;
  pointer-events: none;
  font: 14px;
  font-family: 'Open Sans', sans-serif;
  text-align: center; }

line.link {
  stroke: #999;
  stroke-opacity: .6;
  stroke-width: 1px; }

#graphicchild {
  text-align: center; }

#graphicchild g {
  float: inherit;
  clear: both; }

.footer {
  border-color: #22a7f0;
  border-style: dashed;
  border-bottom: 5px;
  background-color: #ddd; }

/*# sourceMappingURL=landingpage4.css.map */
